.Materia {
    position: absolute;
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: red;
    color: #fff;
    border-radius: 20px;
    min-height: 40px;
    min-width: 60px;
    text-align: center;
    left: 250px;
    top:100px;
  }
  
  .circulo_input {
    position: absolute;
    display: flex;
    top: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    width: 13px;
    height: 13px;
    background-color: rgb(0, 0, 0); /* Puedes cambiar el color del círculo */
    border-radius: 50%;
    z-index: 11;
    
  }
  .circulo_output {
    position: absolute;
    display: flex;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255); /* Puedes cambiar el color del círculo */
    border-radius: 50%;
    border: 3px solid #000000;
    z-index: 11;
  }

  .seleccionado{
    border: 5px solid #3c00ff;
  }
  #boton{
    position: relative;
    z-index: 10;
    height: 10;
  }
  #caja{
    position: relative;
    z-index: 10;
  }
  #contenedor{
    width: 200px; /* Ancho de la tira vertical */
    height: 100vh; /* Altura igual a la altura de la ventana */
    background-color: lightblue; /* Color de fondo de la tira */
    position: absolute; /* Fijar la posición para que sea independiente del desplazamiento */
    left: 0; /* Alinear a la izquierda del documento */
    top: 0; /* Alinear al principio del documento */
    border: 3px solid #000000;
    z-index: 10;
  }
  #lienzo{
    position: absolute;
    background-color: rgb(141, 141, 139);
    width: 100vw;
    height: 100vh;
    left: 0;
    top:0;
    z-index: 1;
  }